body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

a:link {
    color: #4d75c6;
}

/* visited link */
a:visited {
    color: #4d75c6;
}

/* mouse over link */
a:hover {
    color: #4d75c6;
}

/* selected link */
a:active {
    color: #4d75c6;
}

.black {
    color: #242424;
}

.black-bg {
    background-color: #242424;
}

.grey {
    color: #3d3d3d;
}

.grey-bg {
    background-color: #3d3d3d;
}

.dark-blue {
    color: #2c4882;
}

.blue {
    color: #385ca9;
}

.light-blue {
    color: #4d75c6;
}

.post {
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 10px auto;
}

.post-meta-container {
    font-style: italic;
    font-size: 12px;

}

.content-container {
    margin-top: 10px;
}

.website-content-container {
    margin: 10px 0;
}

.iframe-container {
    margin: 10px auto;
}

.search-container {
    width: 83%;
    padding: 10px;
    margin: 10px auto;

}

.website-picture-content-container {
    margin-top: 10px;
    width: 600px;
}

.website-picture-content-container img {
    width: 100%;
}

.picture-content-container {
    width: 600px;
    margin-top: 10px;

}

.picture-content-container img {
    width: 100%;
}

.more-container {
    width: 20%;
    margin: 30px auto;
    color: #4d75c6;
}
